*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#08141f;
    color:white;
    overflow-x:hidden;
}

/* Scroll */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#00d9a5;
    border-radius:20px;
}

/* HEADER */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 8%;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(12px);
    z-index:999;
}

.logo{
    font-size:32px;
    font-weight:800;
    color:#00ffd5;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#00ffd5;
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#08141f,#0b2131,#12384a);
}

.hero-content{
    width:90%;
    max-width:900px;
}

.hero h1{
    font-size:75px;
    color:#00ffd5;
}

.hero h2{
    margin-top:15px;
    font-size:35px;
}

.hero p{
    margin-top:25px;
    color:#cfd8dc;
    line-height:1.8;
}

.buttons{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.buttons button{
    padding:16px 35px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

#copyIP{
    background:#00d9a5;
    color:white;
}

.play{
    background:white;
    color:#08141f;
}

.buttons button:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(0,255,200,.4);
}

/* SERVER */

.server{
    margin-top:50px;
}

.server h3{
    color:#00ffd5;
}

.server span{
    display:block;
    margin-top:10px;
    font-size:20px;
}

/* STATUS */

.status{
    padding:100px 8%;
    text-align:center;
}

.status h2{
    font-size:45px;
}

.status-card{
    margin:auto;
    margin-top:40px;
    max-width:350px;
    background:rgba(255,255,255,.06);
    border:1px solid rgba(255,255,255,.1);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:35px;
    transition:.3s;
}

.status-card:hover{
    transform:translateY(-8px);
}

.status-card h3{
    color:#00ff95;
}

/* NEWS */

.latest-news{
    padding:100px 8%;
    text-align:center;
}

.latest-news h2{
    font-size:45px;
}

.news-card{
    margin:auto;
    margin-top:40px;
    max-width:700px;
    background:rgba(255,255,255,.06);
    border-radius:20px;
    padding:40px;
    backdrop-filter:blur(15px);
}

/* FOOTER */

footer{
    padding:35px;
    text-align:center;
    color:#9aa4b2;
}

/* MOBILE */

@media(max-width:768px){

.hero h1{
    font-size:50px;
}

.hero h2{
    font-size:26px;
}

header{
    flex-direction:column;
    gap:15px;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

}
.small-hero{

min-height:45vh;

}

.store-grid{

padding:80px 8%;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}

.store-card{

background:rgba(255,255,255,.06);

border:1px solid rgba(255,255,255,.12);

border-radius:25px;

padding:45px;

text-decoration:none;

color:white;

backdrop-filter:blur(12px);

transition:.35s;

}

.store-card:hover{

transform:translateY(-10px);

box-shadow:0 0 30px rgba(0,255,200,.3);

border-color:#00ffd5;

}

.store-icon{

font-size:65px;

margin-bottom:25px;

}

.store-card h2{

margin-bottom:15px;

font-size:34px;

}

.store-card p{

color:#cfd8dc;

line-height:1.8;

}

.store-card span{

display:block;

margin-top:25px;

color:#00ffd5;

font-weight:bold;

font-size:18px;

}
.store-card h2{
    font-size:32px;
    margin-bottom:10px;
}

.store-card p{
    font-size:18px;
    color:#d6e3ea;
}

.store-card span{
    margin-top:25px;
    display:inline-block;
    color:#00ffd5;
    font-weight:700;
}

.store-card:hover h2{
    color:#00ffd5;
}
